name: Deploy do código
on:
    push:
        branches:
        - main
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
        - name: Configurar Python
          uses: actions/setup-python@v2
          with:
            python-version: '3.x'
        - name: Instalar dependências
          run: |
            pip install -r requirements.txt


